/* Oppgavesett 4 */
* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


footer {
    display: grid;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.082);
    width: 100%;
    color: black;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

/* Index */
#oppgavesett {
    width:100%;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

/* Oppgave 4 */
#svenskeGrid {
    display: grid;
    width: 70%;
    grid-auto-flow: column;
    background-color: #006BA8;
    justify-content: center;
    gap: 1rem;
}

#svenskeGrid p {
    background-color: #FECD01;
    padding: 1rem;
    font-weight: 700;
}
/* Oppgave 5 */
#moensterboks {
    background-color: #442334;
    height: 500px;
    width: 500px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    grid-template-rows: repeat(22, 1fr);
    gap: 10px;
}

#sirkel {
    background-color: #803F50;
    border-radius: 50%;
}

/* Oppgave 7 */
.blaaBakgrunn {
    background-color: lightblue;
}

.oransjeBakgrunn {
    background-color: peachpuff;
}

/* Oppgave 8 */
#inpTimetall, #inpFravaer {
    outline: none;
}

#feilmelding {
    color: red;
    font-weight: 700;
}

/* Oppgave 10 */
#oppgave10 {
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

#oppgave10 div {
    position: absolute;
    width: 2px;
    height: 4px;
    background-color: black;
    transform-origin: center bottom;
    text-align: center;
    bottom: 50%;
    
}

/*
#oppgave10 div:nth-child(15n+1) {
    width: 4px;
    height: 7px;
}
*/

#oppgave10 div.tjukk {
    width: 4px;
    height: 7px;
}

#oppgave10 div.t {
    width: 40px;
    background-color: transparent;
}

#oppgave10 .tall {
    display: inline-block;
    text-align: center;
}

#sekundviser {
    width: 4px;
    height: 150px;
    background-color: orange;
    position: absolute;
    bottom: 50%;
    transform-origin: center bottom;

    
}