/* Oppgavesett 4 */
* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


footer {
    display: grid;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.082);
    width: 100%;
    color: black;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

/* Index */
#oppgavesett {
    width:100%;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

/* Oppgave 4 */
#svenskeGrid {
    display: grid;
    width: 70%;
    grid-auto-flow: column;
    background-color: #006BA8;
    justify-content: center;
    gap: 1rem;
}

#svenskeGrid p {
    background-color: #FECD01;
    padding: 1rem;
    font-weight: 700;
}
/* Oppgave 5 */
#moensterboks {
    background-color: #442334;
    height: 500px;
    width: 500px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    grid-template-rows: repeat(22, 1fr);
    gap: 10px;
}

#sirkel {
    background-color: #803F50;
    border-radius: 50%;
}

/* Oppgave 7 */
.blaaBakgrunn {
    background-color: lightblue;
}

.oransjeBakgrunn {
    background-color: peachpuff;
}

/* Oppgave 8 */
/* Oppgave 9 */
/* Oppgave 10 */